<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | e-Devlet</title>
</head>
<body>
<h2>e-Devlet Giriş</h2>
<form th:action="@{/login}" method="post" th:object="${loginRequest}">
    <label>TC Kimlik No:</label>
    <input type="text" th:field="*{tcKimlikNo}" maxlength="11" required />

    <label>Kod:</label>
    <input type="text" th:field="*{credential}" required />

    <button type="submit">Giriş Yap</button>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
</form>
</body>
</html>
