<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Şifre Belirle | e-Devlet</title>
</head>
<body>
<h3>Şifrenizi Belirleyin</h3>
<form th:action="@{/set-password}" method="post" th:object="${setPwdReq}">
    <label>Yeni Şifre:</label>
    <input type="password" th:field="*{newPassword}" required />

    <label>Şifreyi Onayla:</label>
    <input type="password" th:field="*{confirmPassword}" required />

    <button type="submit">Kaydet</button>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
</form>
</body>
</html>
